
#textoForms{
    font-size: large;
    text-align: center;
    padding: 1% 10%;
    background-color: white;
    margin: 20px;
    box-shadow: 1px 2px 15px ;
}

.formulario {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    align-items: center;
    width: 100%;
}

.h2Titulo {
    margin-left: 0px;
}

label{
    padding: 10px;
    display: inline-block;
}

input[type=text], select {
    width: fit-content;
    margin: 7px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text], select {
    width: 100%;
    padding: 10px;
    margin: 7px;
    display: flex;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number]{
    width: 100%;
    padding: 10px;
    margin: 7px;
    display: flex;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=tel] {
    width: 100%;
    padding: 10px;
    margin: 7px;
    display: flex;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email] {
    width: 100%;
    padding: 10px;
    margin: 7px;
    display: flex;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
}


.horarios{
    text-align: left;
}

textarea {
    resize: none;
    width: 100%;
}

form {
    width: 65%;
}

#rowForm {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#rowMit {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

#fieldset {
    display: inline;
    width: 100%;
}


h3 {
    padding-bottom: 10px;
}

#contacto {
    padding: 10px 0px;
}

#confirmacion {
    margin: 3% 20%;
    padding:2%;
    background-color: plum;
    box-shadow: 1px 3px 10px ;
    border-radius: 20px;
    font-size: large;
    font-family: "Arial Rounded MT Bold";
    display: flex;
    justify-content: center;
}