#ring-container{
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.ring-shape{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    border-color: #d9afe2e4;
    margin: 10px;
    background-color: #e6efe6;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2%
}

.circulo :hover{
    transform: scaleY(1.6) scaleX(1.6)
}

.circulo :hover p{
    transform: scaleY(1) scaleX(1)
}
#mapa{
    display: flex;
    justify-content: center;
}

.texto-estadistica {
    margin: 1%;
    font-size: larger;
    vertical-align: middle;
}

.texto-emphasize{
    text-shadow: 2px 2px #5e5e5e5d;
    color: rgb(157, 3, 204);
    font-size: xx-large;
    font-style: bold;
    margin: 1%;

}


.titulopreguntasfrecuentes{
    display: flex;
    justify-content: center;
    font-size:xx-large;
    text-align: center;
    font-weight: bold;


}
.textopreguntasfrecuentes{
    background-color: white;
    border-radius: 10px;
    margin: 2%;
    padding: 2%;
}

.descripcion {
    text-align: justify;
    line-height: 30px;
}

section {
    margin: 5%;

}

.link-texto{
    color: blueviolet;
}

#indice{
    margin-top: 4%;
}

.index-link{
    text-decoration: none;
    font-size: 130%;
    color: black;
}

.index-border {
    background-color:#f9edfd6f;
    border: 5px #d9afe2 solid;
    width: 60%;
    border-block-width: 3px;
    padding: 1.25% 1.25% 1.25% 3%;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textoyfoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4%;
}

#click {
    width: 2.5%;
    height: 1%;
}


#imgInfo {
    width: 100%;
    filter: grayscale(1);
}

#imgInfo:hover {
    filter: grayscale(0);
}

#imgclic {
    width: 25px;
    margin: -5px;
}

#linea{
    height: 4px;
    background-color: #d9afe2;
    width: 70%;
}