#divTestimonios {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.divTestimonio {
    background-color: #f0daf8;
    margin: 10px;
    padding: 0 5px 0 5px;
    border-radius: 3px;
}

.imgMujer1{
    width: 6cm;
    float: right;
    margin-left: 5px;
    padding: 20px 10px 20px 0px;
    margin: 0px 0px 0px 15px;
}

.texto1 {
    line-height: 25px;
    text-align: justify;
    margin: 10px;
}

h2 {
    margin: 10px;
}